
<header class="header">



  <div class="container">


    <nav class="navbar" >


    <a href="#" class="logo">
      <img src="assets\logo.png" alt="GameX logo">
    </a>
    <div class="mobile-menu">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>

      <ul class="navbar-list">



        <li>
          <a href="#home" class="navbar-link">Home</a>
        </li>

        <li>
          <a href="#about" class="navbar-link">About</a>
        </li>

        <li>
          <a href="#tournament" class="navbar-link">Forum</a>
        </li>

        <li>
          <a href="#team" class="navbar-link">Team</a>
        </li>

      </ul>

</nav>
