<header>

  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>

  <!-- The HTML5 video element that will create the background video on the header -->
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" style="background-color: #1e1e1e;">
    <source src="" type="video/mp4">
  </video>

  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3" style="color:#00ced1;">VIDEO</h1>
        <p class="lead mb-0">gaymer</p>
        <button type="button"  class="btn btn-outline-info">Info</button >
      </div>
    </div>
  </div>
</header>

<h2>
  Lorem, ipsum.
</h2>
<p >
  Here you can.
</p>
<img src="assets\25.jpg" class="rounded mx-auto d-block" alt="...">
<img src="assets\25.jpg" class="rounded mx-auto d-block" alt="...">
